<aside class="l-aside vh-100 position-fixed top-0 left-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light h-100 py-5">
        <div class="container-fluid d-flex flex-column justify-content-between align-items-start px-0 h-100">
            <div class="d-flex flex-column">
                <a class="navbar-brand mb-5 px-3" href="./index.html"><img
                        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e33e944d6b136d33939dadf6358d65c76ec06e49/week5/logo-ANSWER.svg"
                        alt="logo"></a>
                <ul class="navbar-nav flex-column ">
                    <li class="nav-item ps-5">
                        <a class="nav-link fw-bold" href="#"><span class="material-symbols-outlined align-bottom me-3">
                                analytics
                            </span>Dashboard</a>
                    </li>
                    <li class="nav-item ps-5">
                        <a class="nav-link fw-bold" href="#"><span class="material-symbols-outlined align-bottom me-3">
                                forum
                            </span>Question</a>
                    </li>
                    <li class="nav-item <%= page === 'index' ? 'border-start border-4 border-success' : '' %> ps-5">
                        <a class="nav-link fw-bold <%= page === 'index' ? 'text-success active' : '' %> "
                            href="./index.html"><span class="material-symbols-outlined align-bottom me-3">
                                assignment
                            </span>Assignment</a>
                    </li>
                    <li class="nav-item ps-5">
                        <a class="nav-link fw-bold" href="#"><span class="material-symbols-outlined align-bottom me-3">
                                video_library
                            </span>Course</a>
                    </li>
                    <li class="nav-item <%= page === 'admin' ? 'border-start border-4 border-success' : '' %> ps-5">
                        <a class="nav-link fw-bold <%= page === 'admin' ? 'link-success active' : '' %>"
                            aria-current="page" href="./admin.html"><span
                                class="material-symbols-outlined align-bottom me-3">
                                supervisor_account
                            </span>Admin</a>
                    </li>
                    <li class="nav-item ps-5">
                        <a class="nav-link fw-bold" href="#"><span class="material-symbols-outlined align-bottom me-3">
                                settings
                            </span>Settings</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex px-3 align-items-center">
                <div class="flex-shrink-0">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true"
                        alt="大頭照" class="rounded-circle object-fit-cover" style="width: 40px; height: 40px;">
                </div>
                <div class="flex-grow-1 ms-3">
                    <p class="fw-bold mb-0">Andy Chen</p>
                    <a href="mailto:andy0401@mail.com" class="text-decoration-none link-gray-600">andy0401@mail.com</a>
                </div>
            </div>
        </div>

    </nav>

</aside>