<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body px-5 pt-5 d-flex gap-4">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/emir.jpeg?raw=true"
                    alt="大頭照" style="width: 141px; height: 141px; object-fit: cover;">
                <div class="w-100">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <p class="text-gray-900 mb-0">#1</p>
                        <button type="button" class="btn-close text-gray-900" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="mb-3">
                        <h5 class="mb-0 text-gray-900">Admin</h5>
                        <h4 class="fs-4 text-gray-900 mb-2">Emir Wicks</h4>
                        <a href="mailto:emir.wicks@mail.com" class="text-gray-600 fs-7 text-decoration-none">emir.wicks@mail.com</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0 bg-light py-1 px-2 fs-7 text-gray-900">Verified</p>
                        <span class="material-symbols-outlined align-bottom text-success">
                            keyboard_arrow_up
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-top-0 px-5">
                <button type="button" class="btn btn-outline-danger fw-bold py-2 px-5 me-3" data-bs-dismiss="modal">Deactivate</button>
                <button type="button" class="btn btn-success fw-bold py-2 px-5" data-bs-target="#editBackdrop" data-bs-toggle="modal">Edit</button>
            </div>
        </div>
    </div>
</div>