.l-aside{
    width: 296px;

    .nav-item{

        &:hover{
            border-left: 4px solid $success;
        }
        
        .nav-link{
            
            &:hover{
                color: $success;
            }
        }
    }
}



