.p-assignment{
  width: calc( 100% - 296px);
}
.p-assignment-header{
  margin-bottom: 44px;


  & .dropdown-toggle::after{
    display: none;
  }
}

.p-assignment-list-group{
  width: 34%;

  &__topBtn{
    margin-bottom: 6px;
  }

  &__topIcon{
    margin-left: 9px;
  }

  & .list-group-item{
    &:hover{
      background-color: $light;
    }
  }
}

.p-assignment-card{
  width: 64%;

  &__topComment{
    font-size: 12px;
    color: #6C757D;
  }
}

