<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>第5週-後台表單設計</title>

  <!-- 載入字體 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">


  <!-- 載入google symbols -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <!-- <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" /> -->

</head>

<body>


  <div class="d-flex">
    <%- include('./layout/aside', {page: "admin" }); -%>
      <main class="p-admin ms-auto px-5">
        <header class="p-admin-header pt-5 d-flex align-items-center gap-7">
          <h1 class="mb-0 fs-4 fw-bold">Admin</h1>
          <div class="w-100 d-flex align-items-center justify-content-between">
            <a href="#" class="text-decoration-none link-gray-900 fw-bold" data-bs-toggle="modal"
              data-bs-target="#newBackdrop"><span class="material-symbols-outlined text-success align-bottom me-2">
                add
              </span>Add New Admin</a>

            <ul class="list-unstyled mb-0 d-flex align-items-center">
              <li class="me-4"><a href="#" class="link-dark"><span class="material-symbols-outlined align-bottom">
                    search
                  </span></a></li>
              <li>
                <a href="#" class="link-dark"><span class="material-symbols-outlined align-bottom">
                    notifications_active
                  </span></a>
              </li>
            </ul>
          </div>
        </header>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col fw-bold text-gray-900">ID<span class="ms-1 material-symbols-outlined align-bottom text-success">
                arrow_downward
                </span></th>
              <th scope="col fw-bold text-gray-900">Name</th>
              <th scope="col fw-bold text-gray-900">Email</th>
              <th scope="col fw-bold text-gray-900">Verified</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">#1</th>
              <td>Emir Wicks</td>
              <td>emir.wicks@mail.com</td>
              <td>Yes</td>
              <td><a href="#" class="me-4" data-bs-toggle="modal"
                data-bs-target="#viewModal"><span class="material-symbols-outlined align-bottom text-gray-900">
                visibility
                </span></a><a href="#" data-bs-toggle="modal"
                data-bs-target="#editBackdrop"><span class="material-symbols-outlined align-bottom text-gray-900">
                  edit
                  </span></a></td>
            </tr>
            <tr>
              <th scope="row">#2</th>
              <td>Zaina Goldsmith</td>
              <td>zaina.goldsmith@mail.com</td>
              <td>Yes</td>
              <td><a href="#" class="me-4" data-bs-toggle="modal"
                data-bs-target="#viewModal"><span class="material-symbols-outlined align-bottom text-gray-900">
                visibility
                </span></a><a href="#" data-bs-toggle="modal"
                data-bs-target="#editBackdrop"><span class="material-symbols-outlined align-bottom text-gray-900">
                  edit
                  </span></a></td>
            </tr>
            <tr>
              <th scope="row">#3</th>
              <td>Mahima Lopez</td>
              <td>mahima.lopez@mail.com</td>
              <td>Yes</td>
              <td><a href="#" class="me-4" data-bs-toggle="modal"
                data-bs-target="#viewModal"><span class="material-symbols-outlined align-bottom text-gray-900">
                visibility
                </span></a><a href="#" data-bs-toggle="modal"
                data-bs-target="#editBackdrop"><span class="material-symbols-outlined align-bottom text-gray-900">
                  edit
                  </span></a></td>
            </tr>
            <tr>
              <th scope="row">#4</th>
              <td>Pharrell Murray</td>
              <td>pharrell.murray@mail.com</td>
              <td>Yes</td>
              <td><a href="#" class="me-4" data-bs-toggle="modal"
                data-bs-target="#viewModal"><span class="material-symbols-outlined align-bottom text-gray-900">
                visibility
                </span></a><a href="#" data-bs-toggle="modal"
                data-bs-target="#editBackdrop"><span class="material-symbols-outlined align-bottom text-gray-900">
                  edit
                  </span></a></td>
            </tr>
            <tr>
              <th scope="row">#5</th>
              <td>Annika Mcbride</td>
              <td>annika.mcbride@mail.com</td>
              <td>Yes</td>
              <td><a href="#" class="me-4" data-bs-toggle="modal"
                data-bs-target="#viewModal"><span class="material-symbols-outlined align-bottom text-gray-900">
                visibility
                </span></a><a href="#" data-bs-toggle="modal"
                data-bs-target="#editBackdrop"><span class="material-symbols-outlined align-bottom text-gray-900">
                  edit
                  </span></a></td>
            </tr>
            <tr>
              <th scope="row">#6</th>
              <td>Fatimah Clark</td>
              <td>fatimah.clark@mail.com</td>
              <td>Yes</td>
              <td><a href="#" class="me-4" data-bs-toggle="modal"
                data-bs-target="#viewModal"><span class="material-symbols-outlined align-bottom text-gray-900">
                visibility
                </span></a><a href="#" data-bs-toggle="modal"
                data-bs-target="#editBackdrop"><span class="material-symbols-outlined align-bottom text-gray-900">
                  edit
                  </span></a></td>
            </tr>
            <tr>
              <th scope="row">#7</th>
              <td>Klaudia Rhodes</td>
              <td>klaudia.rhodes@mail.com</td>
              <td>Yes</td>
              <td><a href="#" class="me-4" data-bs-toggle="modal"
                data-bs-target="#viewModal"><span class="material-symbols-outlined align-bottom text-gray-900">
                visibility
                </span></a><a href="#" data-bs-toggle="modal"
                data-bs-target="#editBackdrop"><span class="material-symbols-outlined align-bottom text-gray-900">
                  edit
                  </span></a></td>
            </tr>
            <tr>
              <th scope="row">#8</th>
              <td>Tillie Lucero</td>
              <td>tillie.lucero@mail.com</td>
              <td>Yes</td>
              <td><a href="#" class="me-4" data-bs-toggle="modal"
                data-bs-target="#viewModal"><span class="material-symbols-outlined align-bottom text-gray-900">
                visibility
                </span></a><a href="#" data-bs-toggle="modal"
                data-bs-target="#editBackdrop"><span class="material-symbols-outlined align-bottom text-gray-900">
                  edit
                  </span></a></td>
            </tr>
            <tr>
              <th scope="row">#9</th>
              <td>Sabrina Stephenson</td>
              <td>sabrina.stephenson@mail.com</td>
              <td>Yes</td>
              <td><a href="#" class="me-4" data-bs-toggle="modal"
                data-bs-target="#viewModal"><span class="material-symbols-outlined align-bottom text-gray-900">
                visibility
                </span></a><a href="#" data-bs-toggle="modal"
                data-bs-target="#editBackdrop"><span class="material-symbols-outlined align-bottom text-gray-900">
                  edit
                  </span></a></td>
            </tr>
            <tr>
              <th scope="row">#10</th>
              <td>Annie Smith</td>
              <td>annie.smith@mail.com</td>
              <td>Yes</td>
              <td><a href="#" class="me-4" data-bs-toggle="modal"
                data-bs-target="#viewModal"><span class="material-symbols-outlined align-bottom text-gray-900">
                visibility
                </span></a><a href="#" data-bs-toggle="modal"
                data-bs-target="#editBackdrop"><span class="material-symbols-outlined align-bottom text-gray-900">
                  edit
                  </span></a></td>
            </tr>
          </tbody>
        </table>
        <footer>
          <nav class="d-flex justify-content-end" aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item ">
                <a class="page-link border-success px-1" href="#" aria-label="Previous">
                  <span class="material-symbols-outlined align-bottom link-success">
                    keyboard_arrow_left
                    </span>
                </a>
              </li>
              <li class="page-item"><a class="page-link border-success link-success bg-success link-light" href="#">1</a></li>
              <li class="page-item"><a class="page-link border-success link-success" href="#">2</a></li>
              <li class="page-item"><a class="page-link border-success link-success" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link border-success px-1" href="#" aria-label="Next">
                  <span class="material-symbols-outlined align-bottom link-success">
                    keyboard_arrow_right
                    </span>
                </a>
              </li>
            </ul>
          </nav>
        </footer>
        <%- include('./layout/modal-new'); -%>
          <%- include('./layout/modal-edit'); -%>
            <%- include('./layout/modal-view'); -%>
      </main>
  </div>

  <script type="module" src="../main.js"></script>
</body>

</html>